@import url("./vars.css");

#about-section {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

#about-section div {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding: 1vh;
  background: var(--cat-surface);
}
#about-section h3{
  color: var(--cat-blue);
}
#about-section p{
  color: var(--cat-text);
  font-size: 1.5rem;
}
#about-section a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--cat-blue);
}
#about-section a:hover{
  color: var(--cat-mauve);
  cursor: pointer;
}

#about-section > .half-about {
  width: 40%;
  height: 40vh;
}

#about-section iframe {
  height: 40vh;
  width: 50%;
}

#about-section input {
  height: 3.5vh;
  width: 200px;
  background: var(--cat-rosewater);
}

#about-section textarea {
  background: var(--cat-rosewater);
}

#about-section button {
  border-radius: 10px;
  height: 40px;
  width: 60px;
  background: var(--cat-rosewater);
  border: 1px solid black;
  color: black;
}

#about-section button:hover {
  background: var(--cat-red);
}
