@import url("./vars.css");

#about-section {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;

  & article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
  }

  & div {
    width: 80%;
    margin: 0.5rem;
    padding: 1rem;
    gap: 1vh;

    & h2 {
      color: var(--cat-blue);
    }
  }

  & p {
    color: var(--cat-text);
    font-size: 1rem;
  }

  & a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--cat-blue);
  }

  & a:hover {
    color: var(--cat-mauve);
    cursor: pointer;
  }

  & iframe {
    height: 40vh;
    width: 80%;
  }

  & input {
    height: 3.5vh;
    width: 200px;
    background: var(--cat-rosewater);
  }

  & textarea {
    background: var(--cat-rosewater);
  }

  & button {
    height: 40px;
    width: 60px;
  }
}

#about-section > .half-about {
  width: 40%;
  height: 60vh;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #about-section {
    margin: 0vh;
    display: flex;
    width: 88%;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    gap: 2vh;

    & .half-about {
      width: 100%;
      height: 32vh;
      gap: 1vh;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: center;
    }

    & textarea {
      width: 90%;
    }
  }

  #about-section div {
    width: 100%;
    gap: 1vh;
  }

  #about-section > .half-about {
    width: 100%;
  }

  #about-section iframe {
    height: 35vh;
    width: 80%;
  }
}
