@import url("./vars.css");

#calendar {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#calendar > table{
  border: 1px solid black;
  background: #81c8be;
  width: 100%;
  height: 30em;
  margin-top: 30px; 
}
#calendar > button {
  float: right;
  margin-top: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 30px;
  background: var(--cat-rosewater);
  color: var(--cat-crust);
  border-radius: 10px;
}
#calendar > button:hover {
  background: var(--cat-lavender);
  cursor: pointer;
}
