@import url("./vars.css");

#calendar-section {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  padding: 1vh;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

#calendar-section div {
  width: 90%;
  display: flex;
  text-align: center;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

#calendar-section h3 {
  font-size: 7vh;
}

#calendar-section button {
  background: var(--cat-mauve);
  border: 1px solid black;
  width: 20vh;
  border-radius: 5px;
  height: 3vw;
  font-size: 1rem;
  color: black;
}

#calendar-section input {
  background: var(--cat-mauve);
  border: 1px solid black;
  border-radius: 5px;
  width: 20vh;
  height: 3vw;
  font-size: 2vh;
  color: black;
}

#calendar-section button:hover {
  background: var(--cat-blue);
  cursor: pointer;
}

#calendar>table {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-collapse: collapse;
}

#calendar #selected-month {
  font-size: 1.5rem;
  color: var(--cat-crust);
  font-weight: bold;
  border: 1px solid black;
  border-collapse: collapse;
  text-transform: uppercase;
}

#calendar>table>thead>tr>th {
  font-weight: bold;
  font-size: 2vh;
  border: 1px solid black;
  background: var(--cat-red);
  color: var(--cat-crust);
  height: 5vw;
}

#calendar>table>tbody>tr>td {
  width: 12vh;
  height: 13vw;
  border: 1px solid black;
  background: var(--cat-surface);
}

#calendar>table>tbody>tr>td>div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.calendar-petname {
  color: var(--cat-mauve);
}

.calendar-day {
  color: white;
}

.calendar-petrace {
  font-size: 0.8rem;
}

.calendar-jobtype {
  padding: 3px;
  border-radius: 10px;
  border: 1px solid black;
  color: var(--cat-crust);
  width: 60%;
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  #calendar-section h3 {
    font-size: 4vh;
  }

  #calendar-section button {
    width: 25vh;
    height: 10vw;
    font-size: 0.9rem;
  }

  #calendar-section input {
    width: 40vh;
    height: 8vw;
    font-size: 0.9rem;
  }

  #calendar-section button:hover {
    background: var(--cat-mauve);
  }

  #calendar>table {
    width: 100%;
  }

  #calendar>table>thead>tr>th {
    font-size: 1vh;
    padding: 0.5vh;
    height: 5vw;
  }

  #calendar>table>tbody>tr>td {
    width: 12vh;
    height: 15vw;
    font-size: 1vh;
  }

  #calendar-section {
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
  }
}
