@import url("./vars.css");

footer {
  width: 100%;
  height: 5vh;
  text-align: center;
  background: var(--cat-crust);
  color: var(--cat-blue);
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a {
  text-decoration: none;
  color: var(--cat-mauve);
}

footer>p>a:hover {
  color: var(--cat-red);
}
