:root {
  --cat-crust: #232634;
  --cat-base: #303446;
  --cat-blue: #8caaee;
  --cat-red: #e78284;
  --cat-mauve: #ca9ee6;
}
* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 5em;
  color: var(--cat-blue);
  background: var(--cat-crust);
}

header > ul {
  list-syle: none;
}

header > ul > li {
  display: inline;
  float: left;
  margin: auto;
  text-align: center;
}
#links{
  float: right;
}
header > ul > li > h1 {
  float: left;
  margin-left: 50px;
  height: 2em;
  margin-top: 15px;
}

header > ul > li > p {
  margin-top: 25px;
  margin-right: 50px;
  float: left;
  margin-left: 50px;
}
header > ul > li > p > a {
  text-decoration: none;
  color: var(--cat-blue);
}

header > ul > li > p > a:hover {
  color: var(--cat-mauve);
}

.actual-page {
  color: var(--cat-red);
}
.actual-page:hover {
  color: var(--cat-red);
}
