@import url("./vars.css");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  width: 100%;
  height: 13vh;
  color: var(--cat-blue);
  background: var(--cat-crust);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header> h1{
  font-size: 6vh;
}
header> div{
  display: flex;
}
header>div>button {
  padding: 2vh;
  color: var(--cat-blue);
  font-size: 3vh;
  border: none;
  background: var(--cat-crust);
  cursor: pointer;
}

header>div>button:hover {
  color: var(--cat-mauve);
}

.actual-page {
  color: var(--cat-red);
}

.actual-page:hover {
  color: var(--cat-red);
}
