@import url("./vars.css");

#home-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.petshop-fachada {
  background-image: url("https://github.com/deniscrocha/petshop.github.io/blob/develop/public/entrada.jpg?raw=true");
  min-height: 300px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  text-align: center;
  width: 43%;
  margin: 5vh;
}

.petshop-banhotosa {
  border: 1px solid black;
  font-size: 5vh;
  background: var(--cat-surface);
  height: 60vh;
}

.petshop-banhotosa > img {
  border-radius: 10px;
  width: 80%;
  height: 30vh;
}

.petshop-banhotosa > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vh; 
}

.petshop-banhotosa > div > button {
  font-size: 2vh;
  height: 4vh;
  width: 20vh;
  background: var(--cat-rosewater);
  color: var(--cat-base);
}

.petshop-banhotosa > div > button:hover {
  background: var(--cat-red);
  cursor: pointer;
}

.petshop-product {
  border: 1px solid black;
  background: var(--cat-surface);
  height: 40vh;
}

.petshop-product > h1 > a {
  color: var(--cat-text);
  text-decoration: none;
}

.petshop-product > h1 > a:hover {
  color: var(--cat-rosewater);
  cursor: pointer;
}

.petshop-product > div {
  height: 25em;
  width: 80%;
  margin: auto;
}

#carrossel-img {
  border: 1px solid var(--cat-lavender);
  border-radius: 10px;
  width: 80%;
  height: 21em;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

#carrossel > p {
  font-size: 20px;
}

#carrossel-img > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  font-size: 30px;
  font-weight: bold;
}

#button-left {
  float: left;
}

#button-right {
  float: right;
}

.petshop-map {
  height: 20em;
}

.petshop-map > iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
