@import url("./vars.css");

#home-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;

  & h3 {
    color: var(--cat-blue);
  }

  & a {
    text-decoration: none;
    color: var(--cat-lavender);
  }

  & a:hover {
    color: var(--cat-red);
  }

  & article {
    width: 48%;
    margin: 1vh;
    font-size: 1.2rem;
    height: 35vw;
  }
}

.petshop-fachada {
  background-image: url("https://github.com/deniscrocha/petshop.github.io/blob/develop/public/entrada.jpg?raw=true");
  min-height: 300px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.petshop-banhotosa {
  & img {
    border-radius: 10px;
    width: 80%;
    height: 40vh;
  }

  & div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
  }

  & button {
    font-size: 2vh;
    height: 4vh;
    width: 20vh;
  }
}

#home-section > #home-aboutus {
  justify-content: flex-start;
  gap: 1rem;
}

#home-section > #comments {
  width: 95%;
  height: 80vh;
}

#comments > div {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vh;
}

.comment-card {
  width: 25vw;
  height: 60vh;
  border: 1px solid black;
  border-radius: 5px;
  background: var(--cat-surface2);
}

.comment-name {
  font-size: 1.5rem;
  color: var(--cat-red);
}

.comment-photo {
  width: 90%;
  height: 25vw;
  border-radius: 5px;
}

.comment-desc {
  font-size: 1rem;
  color: var(--cat-text);
}

.client-button {
  width: 2vw;
  height: 6vh;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  #home-section {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

    & article {
      width: 85%;
      margin: 1rem;
      height: 50vh;
      gap: 2vh;
      padding: 1rem;
    }

    & #comments {
      height: 60vh;
      width: 85%;
      margin: 1rem;

      & .comment-card {
        width: 80%;
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1vh;
      }

      & .last-client {
        display: none;
      }

      & .next-client {
        display: none;
      }

      & .client-button {
        width: 5vw;
        height: 5vh;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  #comments > div div {
    height: 50vh;
  }

  .comment-photo {
    height: 35vh;
  }

  .petshop-banhotosa div {
    flex-direction: column;
    flex-wrap: no-wrap;
    gap: 0.8vh;
  }
}
