@import url("./vars.css");

#home-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
#home-section h3{
  color: var(--cat-blue);
}
.petshop-fachada {
  background-image: url("https://github.com/deniscrocha/petshop.github.io/blob/develop/public/entrada.jpg?raw=true");
  min-height: 300px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-section article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  margin: 1vh;
  font-size: 3vh;
  background: var(--cat-surface);
  height: 35vw;
}

.petshop-banhotosa img {
  border-radius: 10px;
  width: 80%;
  height: 30vh;
}

.petshop-banhotosa div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vh;
}

.petshop-banhotosa button {
  font-size: 2vh;
  height: 4vh;
  width: 20vh;
  background: var(--cat-rosewater);
  color: var(--cat-base);
}

.petshop-banhotosa button:hover {
  background: var(--cat-red);
  cursor: pointer;
}

#home-section>#home-aboutus {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

#home-section>#comments {
  width: 95%;
  height: 100vh;
}

#comments>div {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vh;
}
.comment-card {
  width: 35vh;
  height: 25vw;
  border: 1px solid black;
  border-radius: 5px;
}
.comment-name{
  font-size: 1rem;
  color: var(--cat-red);
}
.comment-photo{
  width: 90%;
  height: 15vw; 
  border-radius: 5px;
}
.comment-desc{
  font-size: 0.7rem;
  color: var(--cat-blue);
}
