@import url("./vars.css");

#newjob-div {
  padding: 1rem;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  flex-wrap: no-wrap;
  color: var(--cat-text);
  border: 1px solid black;
  border-radius: 5px;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  background: var(--cat-surface1);
}
#newjob-div div>button{
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  background: var(--cat-mauve);
  width: 10vw;
  font-size: 1rem;
}
#newjob-div div>button:hover{
  background: var(--cat-blue);
  cursor: pointer;
}
