:root {
  --cat-crust: #232634;
  --cat-base: #303446;
  --cat-blue: #8caaee;
  --cat-red: #e78284;
  --cat-mauve: #ca9ee6;
  --cat-rosewater: #f2d5cf;
  --cat-text: #c6d0f5;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  background: var(--cat-base);
}
main {
  color: var(--cat-text);
}
#carrossel {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 22em;
  margin-right: 22em;
  height: 18em;
  text-align: center;
}
#carrossel > p {
  font-size: 20px;
}
#carrossel-img {
  background-size: cover;
  border: 1px solid black;
  width: 10em;
  height: 10em;
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  background-repeat: no-repeat;
}
#carrossel-img > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 45%;
  width: 20px;
  font-size: 30px;
  font-weight: bold;
}
#button-left {
  float: left;
}
#button-right {
  float: right;
}
#produtos-div {
  width: 100%;
  height: 50em;
}
