@import url("./vars.css");

#products-section {
  margin: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

#products-section div {
  background: var(--cat-surface);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

#carrossel {
  height: 30vw;
  width: 90%;
}

#carrossel > div{
  display: flex;
  border: none;
  margin: 1vh;
  padding: 1vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

#products-div {
  height: 40vw;
  width: 90%;
}

#carrossel p {
  font-size: 1rem;
}

#product-image {
  background-size: cover;
  border-radius: 10px;
  border: 1px solid black;
  width: 35vh;
  height: 20vw;
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  background-repeat: no-repeat;
}

#carrossel button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

#button-left {
  float: left;
}

#button-right {
  float: right;
}
