:root {
  --cat-crust: #232634;
  --cat-surface: #414559;
  --cat-surface2: #626880;
  --cat-base: #303446;
  --cat-blue: #8caaee;
  --cat-red: #e78284;
  --cat-mauve: #ca9ee6;
  --cat-lavender: #babbf1;
  --cat-text: #c6d0f5;
  --cat-rosewater: #f2d5cf;
  --cat-maroon: #ea999c;
  --cat-pink: #f4b8e4;
}
